html, body {
  padding: 0;
  margin: 0;
  height: 100%
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: grid;
  grid-template-rows: auto auto min-content;
  background-color: #EAEDED;
}

header {
  background-color: #e1bfa3;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  justify-content: space-between;
  grid-template-areas:
  'a b c d e'
  'f g h i j';
}

button {
  margin-top: 0;
  border: none;
  padding-right: 40%;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  background-color: #e1bfa3;
  align-content: center;
  text-align: center;
  white-space: nowrap;
}

.logo {
  grid-area: j;
  max-width: 90px;
  max-height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: start;
  color: #60676B;
  font-size: 24px;
  text-align: center;
  white-space: nowrap;
}

.first-button {
  grid-area: f;
}

.second-button {
  grid-area: g;
}

.third-button {
  grid-area: h;
}

.fourth-button {
  grid-area: e;
  font-size: 14px;
  color: black;
}

.first-button span.icon {
    background: url(https://image.flaticon.com/icons/svg/273/273806.svg) no-repeat;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.second-button span.icon {
    background: url(https://image.flaticon.com/icons/svg/149/149181.svg) no-repeat;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.third-button span.icon {
    background: url(https://image.flaticon.com/icons/svg/900/900930.svg) no-repeat;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.fourth-button span.icon {
    background: url(https://image.flaticon.com/icons/svg/126/126486.svg) no-repeat;
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 25%;
    margin-bottom: 5%;
}

h1 {
  font-size: 36px;
  color: #60676B;
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 2%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 12px;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  border: 4px solid white;
  background-color: #dae7e0;
  font-family: sans-serif;
  font-weight: lighter;
  height: 550px;
}

.card-image {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-header {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}

.style {
  font-family: sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
}

.card-profile-link {
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
  overflow-wrap: break-word;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #E8E8E8;
}

.paragraph-content {
  grid-column: 1 / span 4;
  grid-row: 5 / span 1;
  margin-left: 5%;
  margin-right: 5%;
}

.vote-icon {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin-top: 10%;
  margin-left: 10%;
  width: 70%;
  height: 75%
}

footer {
  padding: 10px;
}

@media screen and (max-width: 1099px) {
  header {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  button {
    margin: 2%;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 0;
    padding-right: 20%;
    text-align: center;
    align-items: center;
    border: 1px dotted white;
  }
  .logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  header {
    max-width: 100%;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    grid-template-areas:
      'f'
      'g'
      'h'
      'e'
      'j';
  }
   button {
    margin: 2%;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    align-items: center;
    border: 1px dotted white;
}
  .logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    font-size: 14px;
   }
}

@media screen and (max-width: 625px) {
  .card-image {
    max-width: 300px;
    height: 100%;
    align-self: center;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
  }
}
