html, body {
  padding: 0;
  height: 100%
}

img {
  max-width: 100%;
  display: block;
}

* {
  outline: 1px dotted black;
}

body {
  display: grid;
  grid-template-rows: auto auto min-content;
  background-color: #EAEDED;
}

header {
  background-color: #e1bfa3;
  display: grid;
  grid-template-columns: repeat(3, 15%) 30% 20%;
  justify-content: space-between;
  grid-template-areas:
  'a b c d e'
  'f g h i j';
}

button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #e1bfa3;
  text-align: center;
}

.logo {
  grid-area: j;
  max-width: 90px;
  max-height: 100%;
  padding-left:40%;
  padding-right: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.first-button {
  grid-area: f;
}

.second-button {
  grid-area: g;
}

.third-button {
  grid-area: h;
}

.fourth-button {
  grid-area: e;
  font-size: 12px;
  font-weight: bold;
}

.first-button span.icon {
    background: url(https://image.flaticon.com/icons/svg/273/273806.svg) no-repeat;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 5%;
    margin-bottom: 5%;
}

h1 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 2%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 12px;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  border: 4px solid white;
  background-color: #dae7e0;
  font-family: sans-serif;
  font-weight: lighter;
  height: 575px;
}
